<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Hello <%= name %>, click the link below to verify your email</p> 
    <a href="<%= verifyLink %>"><%= verifyLink %></a>
    <p>Regards - Avishkar 2018,MNNIT Allahabad - 211004</p>
</body>
</html>